body {
    font-family: 'Abel', sans-serif;
}
.background-top {
    background-color: bisque;
}
.be-the-penguins {
    color: blueviolet;
}
.winter {
    color: green;
}
.resize-image img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.resize-image>div>h4 {
    padding-top: 10px;
    font-size: 18px;
}
.resize-image>div>p {
    font-size: 12px;
}
.resize-image {
    height: 90px;
    width: 400px;
}
.image-background img{ /* Applying style to images of card*/
    width: 200px;
    height: 200px;   
    background-color: antiquewhite;

}